/* font style */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body{
    font-family: "Inter", sans-serif;
}
.banner-section-container{
    width: 1440px;
    height: 652px;
    background-image:;
}